<div class='container text-center'>
  <div class='row col-sm-4 center-block'>
    <% @posts.each do |post| %>
    <div class="card photo-card">
      <img class="card-img-top" src=<%= post.photo %> alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Taken by: <%= post.user.username %> at <%= post.location %></h4>
        <p class="card-text"><%= post.caption %></p>
        <a href=<%= "/likes" %> class="btn btn-primary">Like me!</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
